<html>
<head>
    <style>
        form div {
            margin: 20px;
        }
    </style>
</head>
<body>
<h1>{{ .title }}</h1>
<form action="" method="post">
    <div>
        <label for="account">账号</label>
        <input type="text" name="account" id="account">
    </div>
    <div>
        <label for="password">密码</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <button type="submit">登录</button>
    </div>
</form>
</body>
</html>